# macOS
.DS_Store

# Xcode
*.xcuserdatad/
*.xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcbkptlist

# Build products
build/
DerivedData/

# Swift Package Manager
.swiftpm/
Package.resolved

# Archives
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# IDE settings
.idea/

backend/venv/

backend/config/service-account.json